.calibre {
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  display: block;
  margin: 1em 0;
}
.calibre2 {
  height: 1189px;
  width: 919px;
}
.calibre3 {
  height: 943px;
  width: 702px;
}
.calibre4 {
  display: block;
  font-size: 1.41667em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.83em 0;
}
.calibre5 {
  font-size: 0.52941em;
}
.calibre6 {
  font-size: 0.58333em;
}
.calibre7 {
  display: block;
  text-align: center;
  margin: 1em 0;
}
.calibre8 {
  font-size: 1.66667em;
  line-height: 1.2;
}
.calibre9 {
  font-style: italic;
}
.calibre10 {
  font-size: 0.41667em;
}
.calibre11 {
  display: block;
}
.calibre12 {
  display: block;
  margin: 1em 0 1em 8em;
}
.calibre13 {
  font-size: 0.75em;
}
.calibre14 {
  font-size: 1.17647em;
  line-height: 1.2;
}
.calibre15 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre16 {
  line-height: 1.2;
}
.calibre17 {
  display: block;
  margin: 1em 0 1em 2em;
}
.calibre18 {
  font-size: 1.83333em;
  line-height: 1.2;
}
.calibre19 {
  font-style: italic;
  line-height: 1.2;
}
.calibre20 {
  display: block;
  text-indent: 1em;
  margin: 1em 0;
}
.calibre21 {
  display: block;
  text-align: right;
  margin: 1em 0;
}
.calibre22 {
  height: 222px;
  width: 702px;
}
.calibre23 {
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.2;
  text-align: right;
  margin: 1em 0;
}
.calibre24 {
  font-size: 1.77778em;
  line-height: 1.2;
}
.calibre25 {
  display: block;
  margin: 1em 0 1em 4em;
}
.calibre26 {
  font-size: 1.125em;
  line-height: 1.2;
}
.calibre27 {
  display: block;
  margin: 1em 0 1em 5em;
}
.calibre28 {
  font-size: 1.41667em;
  line-height: 1.2;
}
.calibre29 {
  height: 607px;
  width: 562px;
}
.calibre30 {
  font-weight: bold;
}
.calibre31 {
  display: block;
  margin: 1em 0 1em 1em;
}
.calibre32 {
  height: 67px;
  width: 96px;
}
.calibre33 {
  float: right;
}
.calibre34 {
  display: block;
  margin: 1em 0 1em 3em;
}
.calibre35 {
  display: block;
  margin: 1em 0 1em 13em;
}
.calibre36 {
  height: 454px;
  width: 562px;
}
.calibre37 {
  height: 272px;
  width: 562px;
}
.calibre38 {
  height: 526px;
  width: 562px;
}
.calibre39 {
  height: 972px;
  width: 702px;
}
.calibre40 {
  height: 692px;
  width: 702px;
}
.calibre41 {
  height: 447px;
  width: 702px;
}
.calibre42 {
  height: 420px;
  width: 562px;
}
.calibre43 {
  height: 380px;
  width: 562px;
}
.calibre44 {
  height: 346px;
  width: 702px;
}
.calibre45 {
  height: 456px;
  width: 562px;
}
.calibre46 {
  height: 238px;
  width: 702px;
}
.calibre47 {
  height: 423px;
  width: 562px;
}
.calibre48 {
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 1em 0;
}
.calibre49 {
  display: block;
  font-size: 1.41667em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0.83em 0;
}
.calibre50 {
  height: 199px;
  width: 281px;
}
